.goods-page
    .goods-page__arrow-img
        background-color: red
        width: 10px
        height: 10px
        display: flex

        &::before

            content: url('./assets/arrow-down.svg')
